brotli
beautifulsoup4
undetected-chromedriver
nest_asyncio
python-telegram-bot==20.0
python-telegram-bot[webhooks]
chromium
libx11
libxcomposite
libxdamage
libxi
libxtst
libnss3
libgdk_pixbuf2.0
libatk-bridge2.0
libgtk-3.0
libnspr4
selenium==4.0.0
requests==2.26.0
webdriver-manager==3.8.0
